@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



nav .active {
    text-decoration: underline;
    color: tomato;
}

body{
    font-family: "Exo", sans-serif;
}
  

  